<%inherit file="base.html"/>
<%def name="head()">
</%def>
<%def name="body()">
<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <i class="fa fa-database"></i>
            <h3 class="box-title">关于</h3>
            <div class="bar pull-right"><a href="javascript:history.go(-1);">返回</a></div>
        </div>
        <div class="box-body">
            <div class="container">

        <div class="">
        <div class="form-well">
            <h4>ToughRADIUS 软件介绍</h4>
            <hr>
            <p>ToughRADIUS是一个开源的Radius服务软件，采用于AGPL许可协议发布，从诞生之日起，他的宗旨就是服务于中小微ISP，让运营变得更简单。</p>
            <p>TOUGHRADIUS支持标准RADIUS协议（<a href="https://tools.ietf.org/html/rfc2865">RFC 2865</a>, <a href="https://tools.ietf.org/html/rfc2866">RFC 2866</a>），提供完整的AAA实现。支持灵活的策略管理，支持各种主流接入设备并轻松扩展，具备丰富的计费策略支持。</p>
            <p>TOUGHRADIUS提供了RADIUS核心服务引擎与Web管理控制台，以及<a href="http://docs.toughradius.net/toughradius_v2/api_docs.html">可扩展的API</a>。</p>
            <br>
            <h4>社区支持</h4>
            <hr>
            <p>QQ交流群组：464025428，247860313 (使用交流)，487229323 (开发交流)</p>
            <p>免费软件文档：<a href="http://docs.toughradius.net">http://docs.toughradius.net</a></p>
            <p>Github 项目地址：<a href="https://github.com/talkincode/ToughRADIUS">https://github.com/talkincode/ToughRADIUS</a></p>
            <p>Github 文档地址：<a href="https://github.com/talkincode/ToughRADIUS-GitBook">https://github.com/talkincode/ToughRADIUS-GitBook</a></p>
            <p>在线反馈：登陆您的 ToughRADIUS 管理系统后，可以<a href="/admin/logger">快速反馈信息</a></p>
            <br>

            <h4>商业支持</h4>
            <hr>
            <p>通常按照 ToughRADIUS 遵循的 <a href="https://github.com/talkincode/ToughRADIUS/blob/master/LICENSE">AGPL</a> 协议 使用 ToughRADIUS，无需为此支付费用，ToughRADIUS 同时提供了一份 <a href="https://github.com/talkincode/ToughRADIUS/blob/master/Commerical-license.rst">《商业授权》</a></p>
            <p>商业支持单位：湖南硬派科技有限公司</p>
            <p>官方支持网站：<a href="http://www.toughstruct.com">http://www.toughstruct.com</a></p>
            <p>联系电话：0731-86869447</p>
            <p>联系邮箱：<a href="mailto:dw@toughstruct.com">dw@toughstruct.com</a></p>
         </div>
        </div>
    </div>
</div>
</div>
    </section>
</%def>