<%inherit file="base.html"/>

<%def name="head()">
<script>
    function deleteBas(bas_id)
    {
        if(confirm("确认删除吗？"))
        {
            window.location.href = "/admin/bas/delete?bas_id="+bas_id;
        }
    }
</script>
</%def>

<%def name="body()">
<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <i class="fa fa-sitemap"></i>
            <h3 class="box-title">接入设备列表</h3>
        </div>
        <div class="box-body">
            <div class="container">
                % if permit.match(current_user.username,'/admin/bas/add'):
                <div class="pull-right bottom10">
                     <a href="/admin/bas/add" class="btn btn-sm btn-info">增加接入设备</a>
                </div>
                % endif

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>设备名称</th>
                            <th>域名</th>
                            <th>设备IP地址</th>
                            <th>共享密钥</th>
                            <th>设备类型</th>
                            <th>时区</th>
                            <th>下线端口</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        % for bas in bas_list:
                            <tr>
                                <td>${bas.bas_name}</td>
                                <td>${bas.dns_name or ''}</td>
                                <td>${bas.ip_addr}</td>
                                <td>${bas.bas_secret}</td>
                                <td>${bastype.get(str(bas.vendor_id))}</td>
                                <td>${{0:u"标准时区，北京时间",1:u"时间与时区相同"}[bas.time_type]}</td>
                                <td>${bas.coa_port}</td>
                                <td>
                                    % if permit.match(current_user.username,'/admin/bas/update'):
                                    <a class="opt-btn btn-default" href="/admin/bas/update?bas_id=${bas.id}">修改</a>
                                    % endif
                                    % if permit.match(current_user.username,'/admin/bas/delete'):
                                    <a class="opt-btn btn-default" href="javascript:deleteBas('${bas.id}')">删除</a>
                                    % endif
                                </td>
                            </tr>
                        % endfor
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</%def>