<%inherit file="base.html"/>
<%def name="head()">
<script>
    function busy(flag) {
        if (flag) {
            $("#loading").show();
            $("#inbox").hide();
        } else {
            $("#loading").hide();
            $("#inbox").show();
        }
    }

    function upgrade() {
        if (!confirm("在线升级前建议您完整备份数据库，确认现在升级吗？")) {
           return false;
        }
        busy(true);
        $.get("/service/upgrade", {}, function (data) {
            $("#inbox").html(data.value)
            busy(false);
        });
    }

    function restart_radiusd() {
        busy(true);
        $.get("/service/radiusd/restart", {}, function (data) {
            $("#inbox").html(data.value)
            busy(false);
        });
    }

    function restart_admin() {
        busy(true);
        $.get("/service/admin/restart", {}, function (data) {
            $("#inbox").html(data.value)
            busy(false);
        });
    }

    function restart_customer() {
        busy(true);
        $.get("/service/customer/restart", {}, function (data) {
            $("#inbox").html(data.value)
            busy(false);
        });
    }

    function restart_control() {
        busy(true);
        $.get("/service/control/restart", {}, function (data) {
            $("#inbox").html(data.value)
            busy(false);
        });
    }
    $(document).ready(function () {
        $("#loading").hide();
        $("#inbox").hide();
        $("#upgrade").click(function(){
            upgrade();
        });
        $("#restart_radiusd").click(function () {
            restart_radiusd();
        });
        $("#restart_admin").click(function () {
            restart_admin();
        });
        $("#restart_customer").click(function () {
            restart_customer();
        });
        $("#restart_control").click(function () {
            restart_control();
        });
    });




</script>
</%def>


<%def name="body()">
<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> 服务管理
    </div>
    <div class="panel-body">
        <form class="form-inline" role="form">
            <button type="button" id="upgrade" class="btn btn-default">在线升级</button>
            <button type="button" id="restart_radiusd" class="btn btn-default">重启Radius引擎</button>
            <button type="button" id="restart_admin" class="btn btn-default">重启营业管理进程</button>
            <button type="button" id="restart_customer" class="btn btn-default">重启自助服务进程</button>
            <button type="button" id="restart_control" class="btn btn-default">重启系统管理进程</button>
        </form>
        <hr>
        <div id="loading" style="display: none;"><img src="/static/img/loading.gif"></div>
        <div id="inbox" style="height:360px;overflow:auto">

        </div>
    </div>
</div>
</%def>

