.idea
.vscode
assets/build.txt
assets/buildver.txt
/release/
release
web/node_modules/
web/dist/
web/.vite/
__debug_bin
.DS_Store
/.fleet/
/testdatas/
/toughradius.yml
/.env
/tmp/
log_info.log
__debug_bin*
.log
debian/backups/
toughradius
*.db
*.db-shm
*.db-wal
rundata/
