<%inherit file="base.html"/>
<%def name="head()">
<script src="/static/js/Chart.js"></script>
<script>

var wsock = {
    socket: null,
    start: function (addr,port) {
        var url = "ws://"+addr+":"+port;
        wsock.socket = new WebSocket(url);
        wsock.socket.onmessage = function (event) {
            message = JSON.parse(event.data);
            console.log(message);
            for (p in message){
                $("#"+p).html(message[p])
            }
        };

        wsock.socket.onopen =function(event){
            data = JSON.stringify({process:"admin_stat_query"});
            wsock.socket.send(data);
        };
    }
};

function doQuery()
{
    $.post("/ops/online/statdata", {day_code:'${currdate()}'} , function (data) {
        if (data.code == 0) {
            var _data = {
                labels: data.hours,
                datasets: [
                    {
                        fillColor: "rgba(151,187,205,0.5)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        data: data.dataset
                    }
                ]
            }
            chart.Line(_data);
        }
    }, "json");
}

var chart;
$(document).ready(function (){
    wsock.start('${radaddr}','${adminport}');
    var ctx = $("#statChart").get(0).getContext("2d");
    chart = new Chart(ctx)    
    doQuery();
});


</script>
</%def>
<%def name="body()">
<div class="panel panel-default">
<div class="panel-heading"><span class="glyphicon glyphicon-th"></span> 系统信息 </div>
        <div class="panel-body">
        <table class="table table-hover">
                <thead>
                    <tr>
                        <th colspan="4"> 当前登录管理员  </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>登录管理员</td>
                        <td>${get_cookie("username")}</td>
                        <td>登录时间</td>
                        <td>${get_cookie("login_time")}</td>
                    </tr>
                    <tr>
                        <td>登录IP地址</td>
                        <td>${get_cookie("login_ip")}</td>
                        <td></td>
                        <td></td>
                    </tr>
            </tbody>

        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> 在线统计</div>
    <div class="panel-body">
        <div class="container center"><canvas id="statChart" width="720" height="160"></canvas></div>
        <div class="alert alert-info ">
            当前在线用户数 ${online_count}/${user_total}
        </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> 消息统计</div>
    <div class="panel-body">
        <div>
        <ul class="list-group col-md-6">
            <li class="list-group-item">
                <span class="badge" id="auth_all"></span>
                认证消息总数
            </li>
            <li class="list-group-item">
                <span class="badge" id="auth_accept"></span>
                认证成功总数
            </li>
            <li class="list-group-item">
                <span class="badge" id="auth_reject"></span>
                认证拒绝总数
            </li>
            <li class="list-group-item">
                <span class="badge" id="auth_drop"></span>
                认证丢弃总数
            </li>
        </ul>
        <ul class="list-group col-md-6">
            <li class="list-group-item">
                <span class="badge" id="acct_all"></span>
                记账消息总数
            </li>
            <li class="list-group-item">
                <span class="badge" id="acct_start"></span>
                记账上线总数
            </li>
            <li class="list-group-item">
                <span class="badge" id="acct_update"></span>
                记账更新总数
            </li>
            <li class="list-group-item">
                <span class="badge" id="acct_stop"></span>
                记账下线总数
            </li>
            <li class="list-group-item">
                <span class="badge" id="acct_drop"></span>
                记账丢弃总数
            </li>
            <li class="list-group-item">
                <span class="badge" id="acct_retry"></span>
                记账重发总数
            </li>
        </ul>
        </div>
    </div>
</div>



</div>


</%def>