<%inherit file="base.html"/>

<%def name="head()">
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/Chart.js"></script>
<link rel="stylesheet" href="/static/js/datepicker.css"> 
<script>
//页面初始化
var chart;
$(document).ready(function (){
    $("#day_code").datepicker();   
    var ctx = $("#statChart").get(0).getContext("2d");
    chart = new Chart(ctx)    
});

function doQuery()
{
    var params = {
        node_id: $("#node_id").val(),
        day_code: $("#day_code").val()
    };
    $.post("/ops/online/statdata", params , function (data) {
        if (data.code > 0) {
            alert(data.msg)
            return false;
        }
        else {
            var _data = {
                labels: data.hours,
                datasets: [
                    {
                        fillColor: "rgba(151,187,205,0.5)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        data: data.dataset
                    }
                ]
            }
            chart.Line(_data);
        }
    }, "json");
}
</script>
</%def>

<%def name="body()">
<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> 在线用户统计</div>
    <div class="panel-body">
        <form id="query_form" class="form-horizontal" role="form" action="/ops/user" method="post">
            <div class="form-group">
                <label for="node_id" class="col-md-2 control-label">区域</label>
                <div class="col-md-3">
                    <select id="node_id" name="node_id" class="form-control" >
                        <option value=""></option>
                        % for node in node_list:
                          <option value="${node.id}" ${str(node.id)==node_id and "selected" or ""}>${node.node_name}</option>
                        % endfor
                    </select>
                </div>            
                <label for="day_code" class="col-md-2 control-label">日期</label>
                <div class="col-md-3">
                    <input type="text" id="day_code" name="day_code" class="form-control" value="${day_code}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-7">
                     <button type="button" class="btn btn-default" onclick="doQuery();">查询</button>
                </div>
            </div>
        </form>
        <hr>
        <div class="container center">
            <canvas id="statChart" width="720" height="360"></canvas>
        </div>
    </div>
</div>


</%def>