<%inherit file="base.html"/>

<%def name="head()">
<style type="text/css">
    td {
        text-align: left
    }
</style>
<script>
    function deletegroup(group_id) {
        if (confirm("确认删除吗？")) {
            window.location.href = "/group/delete?group_id=" +group_id;
        }
    }
</script>
</%def>

<%def name="body()">
<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> 用户组列表</div>
    <div class="panel-body">

        <div class="pull-right bottom10">
            <a href="/group/add" class="btn btn-sm btn-default">添加用户组</a>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>用户组名称</th>
                <th>并发数</th>
                <th>绑定MAC</th>
                <th>绑定VLAN</th>
                <th>创建时间</th>
                <th>用户组描述</th>
            </tr>
            </thead>
            <tbody>
            % for group in page_data.result:
            <tr>
                <td>${group.group_name}</td>
                <td>${group.concur_number}</td>
                <td>${group.bind_mac and u'绑定' or u'不绑定'}</td>
                <td>${group.bind_vlan and u'绑定' or u'不绑定'}</td>
                <td>${group.update_time}</td>
                <td>${group.group_desc}</td>
                <td><a class="opt-btn btn-default" href="/group/update?group_id=${group.id}">修改</a>
                    <a class="opt-btn btn-default" href="javascript:deletegroup('${group.id}')">删除</a></td>
            </tr>
            % endfor
            </tbody>
        </table>
         ${page_data.render()}
    </div>
</div>

</%def>