<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>RADIUSD</contextName>
    <property name="log.path" value="/home/radiusd/logs"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/radiusd.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>8MB</maxFileSize>
            <maxHistory>16</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="file"/>
    </root>

    <logger name="org.toughradius.controller" level="info" additivity="false">
        <appender-ref ref="file"/>
    </logger>
    <logger name="org.toughradius.config" level="info" additivity="false">
        <appender-ref ref="file"/>
    </logger>
    <logger name="org.toughradius.component" level="info" additivity="false">
        <appender-ref ref="file"/>
    </logger>

    <logger name="org.springframework.web" level="info" additivity="false">
       <appender-ref ref="console"/>
    </logger>

</configuration>