<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>TOUGHRADIUS</contextName>
   <!-- <property name="log.path" value="/var/toughradius/logs"/>-->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <!-- 彩色日志格式 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />
    <!-- Console 输出设置 -->
    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

    <!--logback.LogbackDemo：类的全路径 -->
    <logger name="org.toughradius.mapper" level="info" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.springframework" level="info" addtivity="false" >
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.toughradius.controller" level="info" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.toughradius.component" level="info" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.toughradius.config" level="info" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.toughradius.handler" level="info" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.springframework.web" level="info" additivity="false">
        <appender-ref ref="console"/>
    </logger>

</configuration>