[Unit]  
Description=supervisord  
After=network.target
   
[Service]  
Type=forking  
ExecStart=/usr/local/bin/supervisord -c /etc/toughradius.conf
ExecReload=/usr/local/bin/supervisorctl reload
ExecStop=/usr/local/bin/supervisorctl shutdown
PrivateTmp=true  
   
[Install]  
WantedBy=multi-user.target  