[mysqld]
datadir=/var/toughradius/mysql
socket=/var/lib/mysql/mysql.sock

symbolic-links=0

# Recommended in standard MySQL setup
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

[mysqld_safe]
log-error=/var/toughradius/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid