[client]
#password=your_password
port=3306
socket=/var/toughradius/mysql/mysql.sock

[mysqld]
datadir=/var/toughradius/mysql
socket=/var/toughradius/mysql/mysql.sock

symbolic-links=0

# explicit_defaults_for_timestamp

# Recommended in standard MySQL setup
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

[mysqld_safe]
log-error=/var/toughradius/log/mysqld.log
pid-file=/var/toughradius/mysql/mysqld.pid