
<%def name="login_box()">
% if not current_user:
<div class="sidebar-box">
    <div class="login">
        <p><small></small></p>
        <a class="btn btn-default btn-md" href="/join" role="button">立即注册</a> 
        <p><small>已有账号请<a href="/customer/login">登陆</a></small> <small><a href="/customer/password/mail">忘记密码</a></small></p>
    </div>
</div>
% endif
</%def>

<%def name="user_box()">
% if  current_user:
<div class="sidebar-box">
<h4 class="list-group-item"><i class="fa fa-user"></i> 我的服务</h4>
<hr>
<div class="list-group">
  <a href="/customer" class="list-group-item">用户账号信息</a>  
  <a href="/customer/open" class="list-group-item">用户自助开户</a>    
  <a href="/customer/billing" class="list-group-item">计费清单查询</a>
  <a href="/customer/ticket" class="list-group-item">上网记录查询</a>
  % if handler.get_param_value('rcard_order_url') :
  <a href="${handler.get_param_value('rcard_order_url')}" target="_blank" class="list-group-item">充值卡购买</a>   
  % endif
</div>
</div>
% endif
</%def>

<%def name="qrcode_box()">
 % if handler.get_param_value('customer_qrcode') :
<div class="sidebar-box">
  <h4 class="list-group-item"><i class="fa fa-qrcode"></i> 微信公众号</h4>
  <hr>
  <div class="img-center"><img src="${handler.get_param_value('customer_qrcode')}"></div>
</div>
% endif
</%def>

<%def name="service_box()">
<div class="sidebar-box">
<h4 class="list-group-item"><span class="fa fa-comments"></span> 客服信息</h4>
<hr>
<div class="list-group">
  % if handler.get_param_value('customer_service_qq') :
  % for qq in handler.get_param_value('customer_service_qq').split(','):
  <a href="javascript:void();" class="list-group-item">客服QQ:${qq}</a>   
  % endfor 
  % endif
  % if handler.get_param_value('customer_service_phone') :
  % for phone in handler.get_param_value('customer_service_phone').split(','):
  <a href="javascript:void();" class="list-group-item">客服电话:${phone}</a>   
  % endfor 
  % endif
</div>
</div>

</%def>

