body {
    background-color: #2a2f35;
    background-size: 100% 100%;
    background-image: url("/static/images/login-bg.jpg")!important;
}

input {
    border-radius: 5px;
}

.login-form {
    box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.48);
    border: 1px solid rgba(95, 95, 95, 0.16);
    border-radius: 5px!important;
    background: rgba(255, 255, 255, 0.9) !important;
}

.login-form .webix_view {

    border: none;
    /*font-size: 16px !important;*/
}

.login-logo {
    background: rgba(255, 255, 255, 0) !important;
}

.login-subtitle .webix_el_box {
    font-size: 14px !important;
    padding-top: 5px;
    color: #757575 !important;
}


.login-win .webix_form input {
    background-color: white;
    color: grey;
}

.login-win #login_btn button {
    font-size: 16px;
}

.verify-img {
    padding-top: 0 !important;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0) !important;
}

.verify-img .webix_template {
    padding-top: 3px !important;
}

.verify-img .webix_template img{
    border-radius:5px;
}

.verify-refresh-btn .webix_icon_btn {
    /*color: #c0c0c0;*/
    color: rgb(197, 219, 255);
}

.retrieve-pwd-btn .webix_icon_btn,
.retrieve-pwd-btn .webix_img_btn {
    color: #bdbdbd !important;
}

.in-icon {
    font-size: 21px !important;
    font-weight: 500;
    color: #919191 !important;
}

.login-errmsg .webix_el_box {
    color: #ff3a3a !important;
    font-size: 11px !important;
}

.login-remark .webix_el_box {
    color: #83898d !important;
    font-size: 11px !important;
}

.webix_secondary .webix_button {
    background: #f4f5f9;
    color: #5078cd;
}


