

.metrics-group .webix_dataview_item {
    border-radius: 5px;
    /*background: rgb(248, 248, 248) !important;*/
    background-image: linear-gradient(23deg, rgb(0, 129, 229) 0px, rgb(0, 150, 241) 90%) !important;
}

.metrics-group .tiles {
    /*margin: 2px!important;*/
}

.metrics-group .webix_dataview_item .widget-metrics .detail {
    float: left;
    padding-left: 10px;
    padding-top: 0px;
}

.metrics-group .webix_dataview_item .widget-metrics .icon {
    float: left;
    font-size: 2.8em;
    color: #f5ffff;
    height: 36px;
    padding-left: 0px;
    padding-top: 13px;
}

.metrics-group .webix_dataview_item .widget-metrics .value {
    font-size: 1.3em;
    font-weight: bold;
    color: #ffffff;
    padding-top: 3px;
}

.metrics-group .webix_dataview_item .widget-metrics .name {
    font-size: 12px;
    color: #f1f1f1;
    padding-top: 0px;
}

