<%inherit file="base.html"/>
<%def name="head()">
<script>
$(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>
</%def>
<%def name="body()">
<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <i class="fa fa-edit"></i>
            <h3 class="box-title">${form.title}</h3>
            <div class="bar pull-right"><a href="javascript:history.go(-1);">返回</a></div>
        </div>
        <div class="box-body">
            <div class="container">
            % if msg:
            <div class="alert alert-warning">${msg}</div>
            % endif
        <form class="form-horizontal form-well" role="form" action="${form.action}" method="post">
                ${xsrf_form_html()}
                ${form.render_css()}
        </form>
                </div>
    </div>
</div>
</section>
</%def>