<%inherit file="base.html"/>
<%def name="head()">

</%def>
<%def name="body()">
    <div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> 用户工单详情
    <div class="bar pull-right"><a href="javascript:history.go(-1);">返回</a></div>
    </div>
        <div class="panel-body">

        <h5>工单基本信息</h5>
        <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>用户账号</td>
                        <td>${issues.account_number}</td>
                        <td>工单类型</td>
                        <td>${{0:u'新装',1:u'故障',2:u'投诉',3:u'其他'}[issues.issues_type]}</td>
                        <td>工单状态</td>
                        <td>${{0:u"未处理",1: u'处理中', 2: u'挂起', 3: u'取消',4:u'处理完成'}[issues.status]}</td>
                        <td>当前操作员</td>
                        <td>${issues.assign_operator}</td>
                    </tr>
                    <tr>
                        <td width="15%">工单内容</td>
                        <td colspan="7">${issues.content}</td>
                    </tr>
            </tbody>

        </table>

        <h5>工单处理信息</h5>

        % for iflow in issues_flows:
        <table class="table table-bordered" style="border-radius: 5px">

            <tbody>

            <tr>
                <td>操作员</td>
                <td>${iflow.operator_name}</td>
                <td>处理时间</td>
                <td>${iflow.accept_time}</td>
                <td>处理状态</td>
                <td>${{1: u'处理中', 2: u'挂起', 3: u'取消',4:u'处理完成'}[iflow.accept_status]}</td>
            </tr>
            <tr>
                <td width="15%">工单处理描述</td>
                <td colspan="7">${iflow.accept_result}</td>
            </tr>

            </tbody>
        </table>
        % endfor

        % if msg:
        <div class="alert alert-warning">${msg}</div>
        % endif
        <form class="form-horizontal form-well" role="form" action="${form.action}" method="post">
            ${form.render_css()}
        </form>

    </div>
</div>
</div>
</%def>