<%inherit file="base.html"/>
<%def name="head()">
<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>
</%def>


<%def name="body()">

<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <i class="fa fa-cog"></i>
            <h3 class="box-title">数据库配置管理</h3>
        </div>
        <div class="box-body">
            <div class="container">
        % if msg:
        <div class="alert alert-warning">${msg}</div>
        % endif
            <form class="form-horizontal form-well" role="form" action="${database_form.action}" method="post">
                ${xsrf_form_html()}
                ${database_form.render_css()}
            </form>
    </div>
    </div>
</div>
</section>
</%def>

