
<%def name="shortcut_panal()">
<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> 功能面板</div>
    <div class="panel-body">
     <div class="container">

         <div class="btn-group">
             <button type="button" class="btn btn-default">BAS设备管理</button>
             <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                 <span class="caret"></span>
                 <span class="sr-only">Toggle Dropdown</span>
             </button>
             <ul class="dropdown-menu" role="menu">
                 <li><a href="#">查询BAS设备</a></li>
                 <li><a href="#">新增BAS设别</a></li>
             </ul>
         </div>

         <div class="btn-group">
             <button type="button" class="btn btn-default">区域信息管理</button>
             <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                 <span class="caret"></span>
                 <span class="sr-only">Toggle Dropdown</span>
             </button>
             <ul class="dropdown-menu" role="menu">
                 <li><a href="#">查询区域信息</a></li>
                 <li><a href="#">新增区域信息</a></li>
                 <li><a href="#">Something else here</a></li>
                 <li class="divider"></li>
                 <li><a href="#">Separated link</a></li>
             </ul>
         </div>

         <div class="btn-group">
             <button type="button" class="btn btn-info">区域信息管理</button>
             <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                 <span class="caret"></span>
                 <span class="sr-only">Toggle Dropdown</span>
             </button>
             <ul class="dropdown-menu" role="menu">
                 <li><a href="#">查询区域信息</a></li>
                 <li><a href="#">新增区域信息</a></li>
                 <li><a href="#">Something else here</a></li>
                 <li class="divider"></li>
                 <li><a href="#">Separated link</a></li>
             </ul>
         </div>



     </div>
    </div>
</div>
</%def>