<%inherit file="base.html"/>
<%def name="head()">
<style>
body{
    font-size: 12px;
    line-height: 179%;
}
.caption{
    line-height: 179%;
}
.form-well  ul li{
        margin-left: 0px;
        padding-left: 0px;;
}

.form-well ul {
    margin-left: 20px;
    padding-left: 0px;;
}

</style>
</%def>
<%def name="body()">
    <div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> 技术支持
    <div class="bar pull-right"><a href="javascript:history.go(-1);">返回</a></div>
    </div>
        <div class="panel-body">


        <div class="">
        <div class="form-well">
            <img src="/static/img/toughradius-support.png" alt="TOUGHRADIUS SUPPORT"/>
            <hr/>
            <p>
                我们是TOUGHRADIUS产品长期的开发者和技术服务者，我们的团队由具有相关行业领域内8年经验以上的资深人员组成，无论是电信级ISP，还是小微运营者，我们都将为您提供专业而全面的服务。
            </p>
            <p>
                我们提供专业的RADIUS相关的咨询服务，准确分析您的业务需求，可以快速提供系统功能模块，运维脚本，数据库设计，提供应用系统与数据库的优化工作，满足您各方面的需求。
            </p>

            <h5><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 咨询服务</h5>
            <ul>
                <li>整体解决方案：根据客户的运营现状，业务规划等量身定制可行的认证计费解决方案。</li>
                <li>数据库高可用方案：评估客户现有系统体系，提供系统高可用技术方案。</li>
            </ul>

            <h5><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> 定制服务</h5>
            <ul>
                <li>UI定制：基于TOUGHRADIUS管理系统的全新界面定制。</li>
                <li>厂商协议扩展：在TOUGHRADIUS的认证计费引擎提供标准协议之外的厂商私有协议扩展。</li>
                <li>在线支付模块：提供基于TOUGHRADIUS自助服务的微信支付，支付宝等第三方支付模块定制。</li>
                <li>业务功能定制：根据客户业务需求，基于TOUGHRADIUS定制开发相应功能，满足运营需要。</li>
            </ul>

            <h5><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> 运维服务</h5>
            <ul>
                <li>系统实施：提供基于TOUGHRADIUS系统的远程实时调试工作。</li>
                <li>性能调优：针对TOUGHRADIUS系统提供整体性能调优，数据库调优等。</li>
                <li>设备对接：提供基于TOUGHRADIUS系统的远程对接调试工作。</li>
                <li>系统安全：提供系统，应用，数据的安全配置管理，故障转移，远程数据备份。</li>
                <li>数据迁移：提供从其他系统向TOUGHRADIUS系统的数据分析迁移实施工作。</li>
                <li>应用监控：针对TOUGHRADIUS提供应用级别的监控告警服务。</li>
            </ul>

            <br>
            <h5>QQ交流群组：247860313</h5>
            <h5>免费技术论坛：<a href="http://forum.toughradius.net">forum.toughradius.net</a></h5>


         </div>

            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail well">
                        <img src="/static/img/silver.png" alt="...">

                        <div class="caption">
                            <h4>白银服务</h4>


                            <p>在法定正常工作时间提供技术支持服务，通过通过电子邮件和工单提供基本的技术支持服务。</p>

                            <p>我们的技术支持团队会回答您所有相关TOUGHRADIUS的问题，比如安装配置，数据库调优，系统性能优化，功能使用，故障排除等。</p>

                            <ul class="list-group">
                                <li class="list-group-item">价格/每服务器/每年：1000元</li>
                                <li class="list-group-item">覆盖时间：周一至周五，9:00—18:00</li>
                                <li class="list-group-item">紧急事件响应：无</li>
                                <li class="list-group-item">常规响应时间：8小时</li>
                                <li class="list-group-item">支持方式：电子邮件，工单系统</li>
                                <li class="list-group-item">安全问题通知：有</li>
                                <li class="list-group-item">系统BUG通知：有</li>
                                <li class="list-group-item">BUG快速修复：无</li>
                                <li class="list-group-item">远程安装配置：有</li>
                                <li class="list-group-item">远程升级支持：有</li>
                            </ul>

                            <p>
                                <a href="#" class="btn btn-default" role="button">立即购买</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail well">
                        <img src="/static/img/glod.png" alt="...">

                        <div class="caption">
                            <h4>黄金服务</h4>

                            <p>全天候的技术支持服务，通过支持电子邮件，电话，工单系统方式提供24x7小时全天候服务支持。</p>

                            <p>我们的技术支持团队会回答您所有相关TOUGHRADIUS的问题，比如安装配置，数据库调优，系统性能优化，功能使用，故障排除等。</p>


                            <ul class="list-group">
                                <li class="list-group-item">价格/每服务器/每年：2000元</li>
                                <li class="list-group-item">覆盖时间：24x7</li>
                                <li class="list-group-item">紧急事件响应：4小时</li>
                                <li class="list-group-item">常规响应时间：8小时</li>
                                <li class="list-group-item">支持方式：电子邮件，工单系统，电话</li>
                                <li class="list-group-item">安全问题通知：有</li>
                                <li class="list-group-item">系统BUG通知：有</li>
                                <li class="list-group-item">BUG快速修复：有</li>
                                <li class="list-group-item">远程安装配置：有</li>
                                <li class="list-group-item">远程升级支持：有</li>
                            </ul>

                            <p>
                                <a href="#" class="btn btn-default" role="button">立即购买</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
</%def>