
*, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: "Helvetica Neue",Helvetica,"微软雅黑", Arial,sans-serif;
/*    font-weight: 300;*/
}

.navbar-default {
    /*background-color: #FFFFFF;*/
    background: linear-gradient(0deg,#fff 0,rgb(255, 255, 255) 100%);
    border-color: #e7e7e7;
    box-shadow: 2px 2px 2px rgba(174, 173, 173, 0.48);
}

.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #006DC3;
    background: linear-gradient(0deg,#F4F4F4 0,rgb(255, 255, 255) 100%);
}

.breadcrumb {
    border-left-color: #3E84C2;
}

.btn-link {
    color: #3E84C2;
}

.btn-link:hover,
.btn-link:focus {
    color: #418d49;
}



.navbar-default .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:focus {
    border-bottom-color: #3E84C2;
}

.navbar-default .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:focus {
    border-bottom-color: #3E84C2;
}

.navbar-inverse .dropdown-menu > li > a:hover,
.navbar-inverse .dropdown-menu > li > a:focus {
    color: #3E84C2;
}



.nav.open > a,
.nav.open > a:hover,
.nav.open > a:focus {
    background-color: #3E84C2;
    border-color: #3E84C2;
    color: #ffffff;
}

.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus,
.nav-tabs.nav-stacked > .active > a,
.nav-tabs.nav-stacked > .active > a:hover,
.nav-tabs.nav-stacked > .active > a:focus {
    border-left-color: #418d49;
    background-color: #3E84C2;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
    background-color: #3E84C2;
}

.nav .caret {
    border-top-color: #3E84C2;
    border-bottom-color: #3E84C2;
}

.nav a:hover .caret {
    border-top-color: #418d49;
    border-bottom-color: #418d49;
}

a {
    color: #3E84C2;
    text-decoration:none;
}

a:hover,
a:focus {
    color: #eee;
    text-decoration:none;
}

.nav a:hover{
    color: #ffffff;
}

a.thumbnail:hover,
a.thumbnail:focus {
    border-color: #3E84C2;
}

.tt-suggestion.tt-is-under-cursor {
    color: #3E84C2;
}

.typeahead:focus {
    border-color: #3E84C2;
}

.form-control:focus {
    border-color: #3E84C2;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #3E84C2;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #3E84C2;
}

.pager li > a:hover,
.pager li > a:focus {
    background-color: #3E84C2;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > .active > a,
.pagination > .active > span {
    background-color: #3E84C2;
}

.pagination > .active > a,
.pagination > .active > span {
    background-color: #3E84C2;
}

a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
    color: #3E84C2;
}

blockquote {
    border-left-color: #3E84C2;
}

blockquote.pull-right {
    border-right-color: #3E84C2;
}

.text-primary {
    color: #3E84C2;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #3E84C2;
}

a.list-group-item.active {
    background-color: #3E84C2;
    border-color: #3E84C2;
}

a.list-group-item.active .list-group-item-text {
    color: #eff7f0;
}

.btn{
    border-radius: 3px;
}

.btn-primary {
    color: #ffffff;
    background-color: #3E84C2;
    border-color: transparent;
}

.btn:hover
{
    box-shadow: inset 0px 15px 10px 5px rgba(0,0,0,0.1);
}
.btn:focus,
.btn:active,
.btn.active
{
    box-shadow: inset 0px 5px 10px 5px rgba(0,0,0,0.1);
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #3E84C2;
}

.panel-primary .panel-heading {
    background-color: #3E84C2;
    border-color: #3E84C2;
}

.jumbotron{
    background: url(/static/imgs/banner.jpg) no-repeat center 30px ;
    background-color: #0c64bd;
    height: 350px;
    color: #ffffff;
    /*background-attachment: fixed;*/
    margin-bottom: 0px;
}



section.slider{
    /*color: #ffffff;*/
    /*background: #2D5BA8;*/
    margin: 40px 0 0px;
    padding: 20px 0 0px;
}

section.slider h2{
    margin-bottom: 20px;
}

section.slider .col-md-8{
    padding-left: 30px;
}

.big-list {
    font-size: 25px;
    font-weight: 300;
    margin-top: 40px;
    line-height: 2;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}


.inner-page{
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.inner-page .intro{
    font-size: 18px;
    color: #585858;
    font-weight: 500;
}

img{
    max-width: 100%;
}

.pricing-intro{
    margin-bottom: 70px;
}

section.gray{
    margin-top: 40px;
    padding: 30px 0;
    background: #eeeeee;
}
section.gray h3{
    margin: 0;
    font-size: 22pt;
}

section.about{
    background: url(/static/imgs/banner02.gif) center 0 no-repeat #F9F9F9;
    min-height: 400px;
    position: relative;
}
section.about .dmask{
    width: 100%;
    height: 100%;
    min-height: 400px;
    background: rgba(100, 0, 0, 0.42);
    color: #ffffff;
    padding: 40px 0;
}

.our-clients .testimonial p, .our-clients .testimonials-arrow {
    border: medium none;
}
.testimonials-arrow {
    background-color: #FAFAFA;
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-top: 0 none;
    content: "";
    display: block;
    height: 14px;
    margin-bottom: 10px;
    margin-left: 45px;
    margin-top: -7px;
    transform: rotate(45deg);
    width: 14px;
}

.testimonial p {
    background: -moz-linear-gradient(center top , #F8F8F8, #FAFAFA) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #DDDDDD;
    font-weight: 500;
    margin: 0;
    padding: 27px 25px;
    color: #222222;
    border-radius: 3px;
    line-height: 1.7;
}

.our-clients .testimonial-author-info {
    color: #DDDDDD;
}
.testimonial-author-info {
    color: #666666;
    padding: 10px 0 0 90px;
}

.testimonial-image {
    float: left;
    height: 70px;
    position: relative;
    width: 70px;
}
.our-clients .testimonial-image img {
    border: medium none;
    padding: 0;
}
.testimonial-image img {
    border: 1px solid #DDDDDD;
    border-radius: 50px 50px 50px 50px;
    height: 70px !important;
    padding: 4px;
    width: 70px !important;
}
.testimonial .author {
    margin: 0 0 0 19px;
}

.client-carousel img{
    border-radius: 3px;
}
.dmask .title span{
    font-weight: 900;
}
.dmask .title{
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 17pt;
    letter-spacing: 1px;
}




.features {
    padding-top: 10px;
}
.features p{
    margin: 30px 0;
}

.features .col-lg-4:first-child .icon-stack-base{
    color:#52AD81;
}
.features .col-lg-4:nth-child(2) .icon-stack-base{
    color:#CD5A48;
}
.features .col-lg-4:last-child .icon-stack-base{
    color:#51A9D6;
}
.label{
    font-weight: 300;
}

div.feature-box {
    clear: both;
}

div.feature-box div.feature-box-icon {
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    background: #E6E6E6;
    border-radius: 35px;
    color: #428bca;
    display: inline-block;
    float: left;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    top: 5px;
    width: 35px;
}

div.feature-box div.feature-box-info {
    padding-left: 50px;
}

div.feature-box div.feature-box-icon i.image-icon {
    position: relative;
    top: 5px;
}

div.feature-box div.feature-box-icon i.image-icon.small {
    top: 2px;
}

footer div.footer-ribbon:before {
    border-right-color: #005580;
}
footer div.footer-ribbon:before {
    border-right: 10px solid #005580;
    border-top: 16px solid rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 0;
    left: -10px;
    position: absolute;
    top: 0;
    width: 7px;
}
footer div.container div.row > div {
    margin-bottom: 25px;
}

footer div.footer-ribbon {
    background: #0088CC;
    margin: -100px 0 0 30px;
    padding: 10px 20px 6px;
    position: absolute;
    color: #ffffff;
    font-weight: 700;
}

footer div.footer-ribbon span{
    color: #ffffff;
    font-weight: 700;
}

footer {
    background: #121214;
    border-top: 4px solid #1F1F1F;
    font-size: 0.9em;
    padding: 80px 0 0;
    position: relative;
}

img{
    max-width: 100%;
}

section.contact{
    background: #f5f5f5 url(images/map-bottom.png);
    min-height: 400px;
    background-size:auto 100%;
    padding-top: 30px;
}

section.contact ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

section.contact li{
    line-height: 2;
}

footer *{
    color: #ffffff;
}

footer .qrcode{
    max-width: 256px;
}

.footer-copyright{
    margin-top: -40px;
}

#footer-menu {
    text-align: left;
}
#footer-menu li{
    display: inline;
    list-style: none;
    margin-left: 10px;
}

footer .footer-copyright li a,
footer #footer-menu li a{
    color:#eee;
}
footer .footer-copyright li a:hover,
footer #footer-menu li a:hover{
    color:#fff;
}

.title span{
    font-weight: 900;
}


/*   customer css */

.service-title{
    font-family: "Helvetica Neue",Helvetica,"微软雅黑", Arial,sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

#services{
    color: #080808;
    background: url(/static/imgs/banner02.gif) center 0 no-repeat #F9F9F9;
    margin-top: 0px;
}



#features {
    color: #080808;
    background-color: #f7f7f7;
    background-color: #fff;

}

#features .inner-page .intro{
    font-size: 18px;
    /*color:#E2E2E2;*/
}

#features .feature-box-info h4 {
    font-size: 16px;
    padding-top: 10px;
}
#features .feature-box-info .tall{
    /*color:#E2E2E2;*/
    line-height: 180%;
}


#custom {
    color: #080808;
    /*background-color: #f7f7f7;*/
    background-color: #fff;

}

#custom .inner-page .intro{
    font-size: 18px;
    /*color:#E2E2E2;*/
}

#custom .feature-box-info h4 {
    font-size: 16px;
    padding-top: 10px;
}
#custom .feature-box-info .tall{
    /*color:#E2E2E2;*/
    line-height: 180%;
}


.footbus p{
    color:#C2C2C2;
}

.service-img{
    text-align: center;
}

#quickjoin {
    color: #ffffff;
    background: #4A4A4A;
    margin: 10px 0 0;
    padding: 10px 0 40px;
}

.tishi .txt{width:780px;margin:0 auto;padding-top:50px; text-align:center; color:#CCC;}
.tishi .txt p{ padding:10px 0;}
.tishi .txt a{padding:15px 40px; border:1px solid #E92; border-radius:5px; background:#ebaf55; color:#FFF; text-decoration:none; font-size:20px;}

.webix_message_area{
    top:60px !important;
  }