body {
    background-color: #1c2729;
    background-size: 100% 100%;
}
.login-page{

}
.login-win{
    border-radius: 9px;
    background-color:#345969 !important;
}
.login-win .webix_form {

}
.login-logo{
    width:117;height:56;
    background-image: url(../images/login-logo.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.login-title{
    color: #fff;
}
.login-win .webix_view{
    background-color: #345969 !important;
    border: none;
    font-size: 16px !important;
}

.login-win .webix_form input{
    border-radius: 5px!important;
    /*background-color: #2a323c;*/
    color:#fff;
}
.login-win #login_btn button{
    font-size: 18px!important;
}

