/* SideBar*/
.webix_sidebar{
    border-color: #eaeaea;
    background: #f6f6f6;
}
.webix_sidebar .webix_tree_item {
    border: none;
    color: #5d5c5c;
    height: 35px;
    line-height: 35px;
    outline: none;
}
.webix_sidebar .webix_scroll_cont > .webix_tree_leaves {
    padding: 0;
}
.webix_sidebar .webix_tree_leaves .webix_tree_leaves {
    margin-left: 0px;
}
.webix_sidebar_selected,
.webix_sidebar_expanded .webix_tree_item:hover{
    background-color: #f2f2f2;
}
.webix_sidebar .webix_tree_item.webix_selected,
.webix_sidebar .webix_tree_item.webix_selected span{
    color: #1f1f1f;
    background-color: #e6e6e6;
    padding-right:0;
}
.webix_sidebar .webix_tree_branch_1 .webix_tree_item{
    padding-left:20px;
    outline: none;
}
.webix_sidebar .webix_tree_branch_1>.webix_tree_item{
    height: 40px;
    line-height: 40px;
    padding-left:0;
    outline: none;
}
.webix_sidebar .webix_tree_branch_1{
    border-bottom:1px solid #e4e4e4;
    outline: none;
}
.webix_sidebar .webix_tree_item.webix_selected span,
.webix_sidebar .webix_tree_item span{
    margin:0;
    padding:0px;
}
.webix_sidebar_icon{
    width: 40px;
    text-align: center;
}
.webix_sidebar_dir_icon{
    float: right;
    line-height: inherit;
}
/*SubMenu (Popup) */
.webix_sidebar_popup{
    border:none !important;
    box-shadow: 2px 3px 3px #ddd;
}
.webix_sidebar_popup, .webix_sidebar_popup .webix_list_item{
    border-radius:0;
}
.webix_sidebar_popup_right{
    box-shadow: -1px 3px 3px #ddd;
}
/*SubMenu: title*/
.webix_sidebar_popup_title{
    background: #ECEFF1;
}
.webix_sidebar_popup_title.webix_selected{
    border-left-color: #cccdd2;
    background: #cccdd2;
}
.webix_sidebar_popup_title .webix_template{
    line-height: 40px;
    padding: 0 10px;
    border: 1px solid #E5E5E5;
    border-left:none;
}
.webix_sidebar_selected.webix_sidebar_popup_title .webix_template{
    background: rgba(0,0,0,0.03);
    border-left: none;
}
.webix_sidebar_popup_list .webix_list_item{
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
}
/*SubMenu: list*/
.webix_sidebar_popup_list .webix_list_item:first-child{
    border-top: 1px solid #E5E5E5;
}
.webix_sidebar_popup_list .webix_list_item:hover{
    background: #f6f9fb;
}
.webix_sidebar_popup_list .webix_list_item.webix_selected:hover{
    background: #cccdd2;
}
.sideber-config{
    border-right: solid 1px #adadad !important;
}
.sideber-infor{
    background-color: #ffffff;
    color:#758288;
}
.sideber-label{
    background-color: #efefef;
    padding-left:10px;
    color:#758288;
}
.sideber-box{
    background-color: #ffffff;
    color:#2c2c2c;
}
.sideber-box .webix_el_box input{
    border-radius: 3px;
    color: #818083;
    text-align: left;
    background-color: #ffffff;
    border: solid 1px #e3ddd8;
}
.sideber-box .webix_el_box input::-webkit-input-placeholder { /* WebKit browsers */
    color: #c7c7c7;
}
.sideber-box .webix_el_box input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
.sideber-box .webix_el_box input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
.sideber-box .webix_el_box input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}

/*window-popup*/
.popup-css{
    border: 1px solid #71c0ff;
}
.webix_window {
    box-shadow: 1px 7px 20px 1px rgba(64, 64, 64, 0.5);
}
.popup-css .webix_win_head .webix_layout_toolbar{
    /*background: #3063db4a !important;*/
    background: linear-gradient(#c3e5ff, #cee9ff)!important;

}

.popup-css .webix_win_body .webix_layout_form{
    width: 100%;
    height:100%;
    padding: 6px;
    box-sizing: border-box;
    background: #c3e5ff66 !important;

}
.popup-css .webix_win_body .webix_layout_form .webix_scroll_cont{
    box-sizing: border-box;
    /*border: 1px solid #eee;*/
    height: 100%;
    background: #fff;
}
.popup-css .webix_win_body .webix_layout_form .webix_scroll_cont .webix_view{
    margin-left: 0 !important;
}