html,
body {
text-align: center;
background:url(/static/portal/1/footer.png) repeat top;
background-size: cover;
}

img{ 
    max-width:100%;height:auto; 
} 

input:-webkit-autofill {
    background-color: transparent;!important
    background-image: none;
    border:   0px;
    outline:none;
}

.container{
    min-width: 100%;
    max-width: 100%;
}

.portal_nav {
  text-align: center;
  background:url(/static/portal/1/nav_bg.png) no-repeat ;
  background-size: cover;
  height:46px;
}

.portal_nav h2{
    padding-top: 10px;
    margin-top: 0px;
    font-size: 21px;
    font-weight: 600;
    color: #fff;
}

.portal_ad1 {
  text-align: center;
  background:url(/static/portal/1/ad_big.png) no-repeat ;
  background-size: cover;
  height:182px;
  background-color: #4a7b9e;
}

.portal_login {
  text-align: center;
  position:relative;
  background:url(/static/portal/1/mainbg.png) no-repeat ;
  background-size: cover;
  height:230px;
  padding: 20px 0  0 0;
}

.portal_login .input-prepend{
  padding: 10px;
  color:#fff;
}

.portal_login .username{
    background-color: transparent;
    border:   0px;
    outline:none;
    color:#fff;
    margin-left: 10px;
    border-bottom: 1px solid #d6d6d6;
}

.portal_login .password
{
  background-color: transparent;
  border:   0px;
  outline:none;
  color:#fff;
  margin-left: 10px;
  border-bottom: 1px solid #d6d6d6;
}

.portal_login .authbtn{
  margin: 10px 0 0 0;
  width:180px;
  font-weight: 900;
}

.portal_login .help-info{
  padding: 20px 0 10px 0;
  color: #d6d6d6;
}

.portal_ad2 {
  text-align: center;
  background:url(/static/portal/1/ad_2.png) repeat center ;
  background-size: cover;
  height:167px;
  background-color: #4a7b9e;
}

.portal_footer{
  text-align: center;
  background:url(/static/portal/1/footer.png) repeat top;
  background-size: cover;
  height:30px;
}


.index_nav {
  text-align: center;
  background:url(/static/portal/1/index_nav_bg.png) repeat top;
  background-size: cover;
  height:46px;
}

.index_nav h2{
    padding-top: 10px;
    margin-top: 0px;
    font-size: 21px;
    font-weight: 600;
    color: #fff;
}

.index_ad1 {
  text-align: center;
  background:url(/static/portal/1/index_ad_big.png) repeat top;
  background-size: cover;
  height:176px;
  background-color: #4a7b9e;
}

.index_uinfo {
  text-align: center;
  background:url(/static/portal/1/mainbg.png) repeat top;
  background-size: cover;
  padding: 10px;
}

 
.index_ad2 {
  text-align: center;
  background:url(/static/portal/1/index_ad2.png) repeat top;
  background-size: cover;
  height:167px;
  background-color: #4a7b9e;
}


.index_uinfo .row{
  padding: 15px 0 5px 35px;
}

.index_uinfo .username{
  text-align: left;
  color: #fff;
}

.index_uinfo .times{
  text-align: left;  
  color: #fff;

}

.index_uinfo .balance{
  text-align: left;  
    color: #fff;
}
.index_uinfo .ipaddr{
  text-align: left;  
    color: #fff;
}

.index_uinfo .txt{
    border-bottom: 1px solid #f6f4f4;
}

.index_uinfo .btns{
  padding: 20px 0 10px 0;
}

.index_uinfo .recharge-btn{
  width:90px;
  margin-right: 20px;
}

.index_uinfo .disconnect-btn{
  width:90px;
}



