<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/myskin/500.min.css" type="text/css" charset="utf-8">
    <title>Encountered an error | 500-Web server error</title>
</head>
<body>
<div class="cover"><h1>server error <small>Error 500</small></h1>
    <p class="lead">encountered an unexpected situation <a href="javascript:history.go(-1);">return</a></p>
    <p class="error">{{.message}}</p>
</div>
<footer><p></p></footer>
</body>
</html>
