<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<link rel="stylesheet" href="/static/myskin/materialdesignicons.min.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="/static/myskin/webix.min.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="/static/myskin/webix_{{theme}}.min.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="/static/myskin/index_{{theme}}.min.css?v={{pagever}}" type="text/css" charset="utf-8">
<link rel="stylesheet" href="/static/myskin/webix_{{theme}}_ext.min.css?v={{pagever}}" type="text/css" charset="utf-8">
<link rel="stylesheet" href="/static/myskin/widgets_{{theme}}.min.css?v={{pagever}}" type="text/css" charset="utf-8">
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<script src="/static/webix/webix.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/views/utils.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/views/codemirror.js?v={{pagever}}" type="text/javascript" charset="utf-8"></script>
<script src="/static/views/widgets.min.js?v={{pagever}}" type="text/javascript" charset="utf-8"></script>
<script src="/admin/translate.js?v={{pagever}}" type="text/javascript" charset="utf-8"></script>
<script src="/static/views/oprpanel.min.js?v={{pagever}}" type="text/javascript" charset="utf-8"></script>
<script src="/static/views/wxui.min.js?v={{pagever}}" type="text/javascript" charset="utf-8"></script>
<title>{{sys_config "SystemTitle"}}</title>