<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>TeamsACS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/static/myskin/materialdesignicons.min.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="/static/webix/webix.min.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="/static/myskin/index.min.css?v={{pagever}}" type="text/css" charset="utf-8">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="/static/webix/webix.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/views/wxui.min.js?v={{pagever}}" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<script>
    webix.ready(function () {
        webix.ui({
            rows: []
        })
    })
</script>
</body>
</html>