<!DOCTYPE html>
<html>
<head>
    {{template "header"}}
</head>
<body>
<script>
    webix.ready(function () {
        webix.ui({
            padding: 10,
            rows: [
                {
                    view: "metrics-group",
                    xCount: 3,
                    height: 160,
                    url: "/admin/metrics/tr069/data"
                },
                {
                    view: "echarts",
                    theme: "{{theme}}",
                    borderless: true,
                    resize: true,
                    settings: {
                        title: {
                            text: '24h Tr069 messages and download',
                            subtext: "24h Tr069 message total and download success",
                            left: 'center'
                        },
                        tooltip: {
                            trigger: 'axis',
                        },
                        grid: {
                            left: 50,
                            right: 50
                        },
                        xAxis: {
                            type: 'time',
                            boundaryGap: false,
                        },
                        yAxis: {
                            type: 'value',
                            boundaryGap: [0, '100%'],
                            splitLine: {
                                show: true
                            },
                        },
                    },
                    url: "/admin/metrics/tr069/line",
                },
            ]
        })
    })
</script>
</body>
</html>