<%inherit file="base.html"/>
<%def name="head()">
<script>
    function release(account_number)
    {
        params = {account_number:account_number};
        $.post("/ops/user/release", params, function (data) {
            alert(data.msg)
        },"json");
    }
</script>
</%def>
<%def name="body()">
    <div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> 用户信息 <a class="badge pull-right" href="javascript:history.go(-1);">返回</a></div>
        <div class="panel-body">
        <div class="pull-right bottom10 ">
            <a href="/bus/account/open?member_id=${member.member_id}" class="btn btn-sm btn-info">新开上网账号</a>
        </div>    
        <table class="table ">
                <thead>
                    <tr>
                        <th colspan="6"> 基本信息</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>用户姓名</td>
                        <td>${member.realname}</td>
                        <td>证件号码</td>
                        <td>${member.idcard}</td>
                        <td>性别</td>
                        <td>${{1:u"男",0:u"女"}[member.sex]}</td>                 
                    </tr>
                    <tr>
                        <td>年龄</td>
                        <td>${member.age}</td>
                        <td>email</td>
                        <td>${member.email}</td>
                        <td>联系电话</td>
                        <td>${member.mobile}</td>
                    </tr>      
                    <tr>
                        <td>地址</td>
                        <td>${member.address}</td>
                        <td>创建时间</td>
                        <td>${member.create_time}</td>
                        <td>更新时间</td>
                        <td>${member.update_time}</td>                        
                    </tr>                                                                       
            </tbody>
        </table>

        <table class="table ">
            <thead>
                <tr>
                    <th colspan="8"> 上网账号列表</th>
                </tr>
            </thead>
            <tbody>
            <tr class="active">
                <th>上网账号</th>
                <th>用户资费</th>
                <th>用户状态</th>
                <th>到期时间</th>
                <th>创建时间</th>
                <th></th>
            </tr>            
            % for user in accounts:
            <tr>
                <td><a href="/ops/user/detail?account_number=${user.account_number}">${user.account_number}</a></td>
                <td>${user.product_name}</td>
                <td>${{1:u"正常",2:u"停机",3:u"销户",4:u"到期",6:u"未激活"}[user.status]}</td>
                <td>${user.expire_date}</td>
                <td>${user.create_time}</td>
                 <td>
            <a class="opt-btn btn-default" href="javascript:do_pause('${user.account_number}');">停机</a>
            <a class="opt-btn btn-default" href="javascript:do_next('${user.account_number}');">续费</a>
            <a class="opt-btn btn-default" href="javascript:do_charge('${user.account_number}');">充值</a>
            <a class="opt-btn btn-default" href="javascript:do_cancel('${user.account_number}');">销户</a>
            <a class="opt-btn btn-default" href="javascript:release('${user.account_number}');">解绑</a>
                 </td>
            </tr>
            % endfor
            </tbody>
        </table>  
        
        <table class="table ">
            <thead>
                <tr>
                    <th colspan="8"> 用户订购记录</th>
                </tr>
            </thead>
            <tbody>
            <tr class="active">
                <th>订单号</th>
                <th>资费</th>
                <th>上网账号</th>
                <th>订单费用</th>
                <th>实缴费用</th>
                <th>订单状态</th>
                <th>订单时间</th>
            </tr>            
            % for order in orders:
            <tr>
                <td>${order.order_id}</td>
                <td>${order.product_name}</td>
                <td>${order.account_number}</td>
                <td>${fen2yuan(order.order_fee)}</td>
                <td>${fen2yuan(order.actual_fee)}</td>
                <td>${{0:u"未支付",1:u"已支付",2:u"已取消"}[order.pay_status]}</td>
                <td>${order.create_time}</td>
            </tr>
            % endfor
            </tbody>
        </table>                   
    </div>
</div>
</div>
</%def>