<%inherit file="base.html"/>
<%def name="head()">
</%def>
<%def name="body()">
    <div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> 系统信息 </div>
        <div class="panel-body">
        <table class="table table-hover">
                <thead>
                    <tr>
                        <th colspan="4"> 当前已登录管理员  </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>登录管理员</td>
                        <td></td>
                        <td>登录时间</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>登录IP地址</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</%def>