<%inherit file="base.html"/>
<%def name="head()">
</%def>

<%def name="main()">
      <div class="jumbotron">
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>上网导航</h4>
          <p>
             <a href="http://www.baidu.com">百度</a> -  
             <a href="http://weibo.com/">新浪微博</a> - 
             <a href="http://www.tmall.com">天猫购物</a> - 
             <a href="http://click.union.jd.com">京东商城</a>
          </p>

          <!-- <h4>在线影视</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p> -->

        </div>

        <div class="col-lg-6">
          <h4>便民服务</h4>
          <p>
              <a href="http://www.hunan.gov.cn/ggfw/fwxxcx/bmxxcx/bmcx/pm25/">PM2.5查询</a> - 
              <a href="http://www.hunan.gov.cn/ggfw/fwxxcx/bmxxcx/bmcx/gjxl/">公交线路查询</a> - 
              <a href="http://www.hnjt.gov.cn/col/col203/index.html">路况信息</a>
              
          </p>

<!--          <h4>热门游戏</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p> -->

        </div>
      </div>
</%def>