<%inherit file="base.html"/>
<%namespace name="sidebar_ui" file="sidebar_ui.html"/>
<%def name="head()">
</%def>
<%def name="main()">
<div class="panel panel-default">
    <div class="panel-heading"><i class="fa fa-edit"></i> ${form.title}
    <div class="bar pull-right">
        <a href="javascript:history.go(-1);">返回上页</a>
    </div>
    </div>
        <div class="panel-body">
            % if msg:
            <p class="alert alert-warning">
            ${msg}
            </p>
            % endif
            <form class="form-horizontal" role="form" action="${form.action}" method="post">
            ${form.render_css()}
        </form>
    </div>
</div>
</%def>

<%def name="sidebar()">
    ${sidebar_ui.login_box()}
    ${sidebar_ui.user_box()}
</%def>