<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.toughradius.mapper.CacheMapper">

    <cache type="org.mybatis.caches.ehcache.EhcacheCache" readOnly="true"  >
        <property name="maxElementsInMemory" value="1000"></property>
        <property name="eternal" value="false"></property>
        <property name="timeToIdleSeconds" value="7200"></property>
        <property name="timeToLiveSeconds" value="7200"></property>
        <property name="memoryStoreEvictionPolicy" value="LRU"></property>
        <property name="logging" value="true"></property>
        <property name="overflowToDisk" value="false"></property>
        <property name="diskPersistent" value="false"></property>
    </cache>

    <select id="findAllUser" resultType="java.lang.String" useCache="true">
        SELECT subscriber FROM tr_subscribe
    </select>

</mapper>