<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.toughradius.mapper.SubscribeMapper">

	<resultMap id="BaseResultMap" type="org.toughradius.entity.Subscribe">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="node_id" jdbcType="BIGINT" property="nodeId" />
		<result column="realname" jdbcType="VARCHAR" property="realname" />
		<result column="subscriber" jdbcType="VARCHAR" property="subscriber" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="domain" jdbcType="VARCHAR" property="domain" />
		<result column="addr_pool" jdbcType="VARCHAR" property="addrPool" />
		<result column="policy" jdbcType="VARCHAR" property="policy" />
		<result column="is_online" jdbcType="INTEGER" property="isOnline" />
		<result column="active_num" jdbcType="INTEGER" property="activeNum" />
		<result column="bind_mac" jdbcType="INTEGER" property="bindMac" />
		<result column="bind_vlan" jdbcType="INTEGER" property="bindVlan" />
		<result column="ip_addr" jdbcType="VARCHAR" property="ipAddr" />
		<result column="mac_addr" jdbcType="VARCHAR" property="macAddr" />
		<result column="in_vlan" jdbcType="INTEGER" property="inVlan" />
		<result column="out_vlan" jdbcType="INTEGER" property="outVlan" />
		<result column="up_rate" jdbcType="BIGINT" property="upRate" />
		<result column="down_rate" jdbcType="BIGINT" property="downRate" />
		<result column="up_peak_rate" jdbcType="DECIMAL" property="upPeakRate" />
		<result column="down_peak_rate" jdbcType="DECIMAL" property="downPeakRate" />
		<result column="up_rate_code" jdbcType="VARCHAR" property="upRateCode" />
		<result column="down_rate_code" jdbcType="VARCHAR" property="downRateCode" />
		<result column="status" jdbcType="CHAR" property="status" />
		<result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
		<result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>

	<sql id="Base_Column_List">
		id,
		node_id,
		realname,
		subscriber,
		password,
		domain,
		addr_pool,
		policy,
		active_num,
		bind_mac,
		bind_vlan,
		ip_addr,
		mac_addr,
		in_vlan,
		out_vlan,
		up_rate,
		down_rate,
		up_peak_rate,
		down_peak_rate,
		up_rate_code,
		down_rate_code,
		status,
		expire_time,
		update_time
	</sql>

	<select id="findAllUsername"  resultType="java.lang.String" useCache="false">
		SELECT subscriber FROM tr_subscribe WHERE STATUS = 'enabled'
	</select>


	<select id="findById"  resultType="java.lang.Long" resultMap="BaseResultMap" useCache="false">
		SELECT <include refid="Base_Column_List" /> FROM tr_subscribe WHERE id = #{id}
	</select>

	<select id="findLastUpdateUser" parameterType="java.lang.String"  resultMap="BaseResultMap" useCache="false">
		<![CDATA[
		SELECT subscriber, update_time FROM tr_subscribe
		WHERE update_time >= #{lastUpdate}
		]]>
	</select>

	<select id="findSubscribe" resultMap="BaseResultMap" useCache="false">
		SELECT
		<include refid="Base_Column_List" />
		FROM  tr_subscribe WHERE subscriber=#{username}
	</select>

	<update id="updateMacAddr">
		update tr_subscribe
		set mac_addr=#{macAddr}, update_time=NOW()
		where subscriber=#{username} and status='enabled'
	</update>
	
	<update id="updateInValn">
		update tr_subscribe
		set in_vlan=#{inValn}, update_time=NOW()
		where subscriber=#{username} and status='enabled'
	</update>
	
	<update id="updateOutValn" >
		update tr_subscribe
		set out_vlan=#{outValn}, update_time=NOW()
		where subscriber=#{username} and status='enabled'
	</update>

	<update id="release">
		update tr_subscribe set mac_addr='', in_vlan=0, out_vlan=0, update_time=NOW()  where id in (#{ids})
	</update>

	<delete id="deleteById" parameterType="java.lang.Long">
		delete from tr_subscribe where id = #{id}
	</delete>


	<sql id="query_where">
		<where>
			<if test="nodeId != null  and nodeId != '' "> and node_id = #{nodeId}</if>
			<if test="ipAddr != null  and ipAddr != '' "> and ip_addr = #{ipAddr}</if>
			<if test="macAddr != null  and macAddr != '' "> and mac_addr = #{macAddr}</if>
			<if test="inVlan != null  and inVlan != '' "> and in_vlan = #{inVlan}</if>
			<if test="outVlan != null  and outVlan != '' "> and out_vlan = #{outVlan}</if>
			<if test="subscriber != null  and subscriber != '' "> and subscriber = #{subscriber}</if>
			<if test="keyword != null  and keyword != '' "> and subscriber like CONCAT('%',#{keyword},'%')</if>
			<if test="domain != null  and domain != '' "> and domain = #{domain}</if>
			<if test="status != null  and status != 'expire'  "> and status = #{status}</if>
			<if test="status != null  and status == 'expire'  "> and expire_time &lt;  NOW()</if>
			<if test="expireTime != null  "> and expire_time &lt;= #{expireTime}</if>
			<if test="addrPool != null  and addrPool != '' "> and addr_pool = #{addrPool}</if>
			<if test="realname != null  and realname != '' "> and realname like CONCAT('%',#{realname},'%') </if>
			<if test="remark != null  and remark != '' "> and remark like CONCAT('%',#{remark},'%') </if>
		</where>
	</sql>

	<select id="queryTotal" parameterType="org.toughradius.form.SubscribeQuery" resultType="integer" useCache="false">
		SELECT count(*) FROM  tr_subscribe
		<include refid="query_where" />
	</select>


	<select id="queryForList" parameterType="org.toughradius.form.SubscribeQuery" resultMap="BaseResultMap" useCache="false">
		SELECT
		<include refid="Base_Column_List" />
		FROM  tr_subscribe
		<include refid="query_where" />
	</select>

	<insert id="insertSubscribe" parameterType="org.toughradius.entity.Subscribe">
		insert into tr_subscribe
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="nodeId != null  and nodeId != ''  ">node_id,</if>
			<if test="realname != null  and realname != ''  ">realname,</if>
			<if test="subscriber != null  and subscriber != ''  ">subscriber,</if>
			<if test="password != null  and password != ''  ">password,</if>
			<if test="domain != null  and domain != ''  ">domain,</if>
			<if test="addrPool != null  and addrPool != ''  ">addr_pool,</if>
			<if test="policy != null  and policy != ''  ">policy,</if>
			<if test="activeNum != null  and activeNum != ''  ">active_num,</if>
			<if test="bindMac != null  and bindMac != ''  ">bind_mac,</if>
			<if test="bindVlan != null  and bindVlan != ''  ">bind_vlan,</if>
			<if test="ipAddr != null  and ipAddr != ''  ">ip_addr,</if>
			<if test="macAddr != null  and macAddr != ''  ">mac_addr,</if>
			<if test="inVlan != null  and inVlan != ''  ">in_vlan,</if>
			<if test="outVlan != null  and outVlan != ''  ">out_vlan,</if>
			<if test="upRate != null  and upRate != ''  ">up_rate,</if>
			<if test="downRate != null  and downRate != ''  ">down_rate,</if>
			<if test="upPeakRate != null  and upPeakRate != ''  ">up_peak_rate,</if>
			<if test="downPeakRate != null  and downPeakRate != ''  ">down_peak_rate,</if>
			<if test="upRateCode != null  and upRateCode != ''  ">up_rate_code,</if>
			<if test="downRateCode != null  and downRateCode != ''  ">down_rate_code,</if>
			<if test="status != null  and status != ''  ">status,</if>
			<if test="beginTime != null ">begin_time,</if>
			<if test="createTime != null ">create_time,</if>
			<if test="expireTime != null ">expire_time,</if>
			<if test="updateTime != null ">update_time,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="nodeId != null  and nodeId != ''  ">#{nodeId},</if>
			<if test="realname != null  and realname != ''  ">#{realname},</if>
			<if test="subscriber != null  and subscriber != ''  ">#{subscriber},</if>
			<if test="password != null  and password != ''  ">#{password},</if>
			<if test="domain != null  and domain != ''  ">#{domain},</if>
			<if test="addrPool != null  and addrPool != ''  ">#{addrPool},</if>
			<if test="policy != null  and policy != ''  ">#{policy},</if>
			<if test="activeNum != null  and activeNum != ''  ">#{activeNum},</if>
			<if test="bindMac != null  and bindMac != ''  ">#{bindMac},</if>
			<if test="bindVlan != null  and bindVlan != ''  ">#{bindVlan},</if>
			<if test="ipAddr != null  and ipAddr != ''  ">#{ipAddr},</if>
			<if test="macAddr != null  and macAddr != ''  ">#{macAddr},</if>
			<if test="inVlan != null  and inVlan != ''  ">#{inVlan},</if>
			<if test="outVlan != null  and outVlan != ''  ">#{outVlan},</if>
			<if test="upRate != null  and upRate != ''  ">#{upRate},</if>
			<if test="downRate != null  and downRate != ''  ">#{downRate},</if>
			<if test="upPeakRate != null  and upPeakRate != ''  ">#{upPeakRate},</if>
			<if test="downPeakRate != null  and downPeakRate != ''  ">#{downPeakRate},</if>
			<if test="upRateCode != null  and upRateCode != ''  ">#{upRateCode},</if>
			<if test="downRateCode != null  and downRateCode != ''  ">#{downRateCode},</if>
			<if test="status != null  and status != ''  ">#{status},</if>
			<if test="beginTime != null   ">#{beginTime},</if>
			<if test="createTime != null   ">#{createTime},</if>
			<if test="expireTime != null   ">#{expireTime},</if>
			<if test="updateTime != null   ">#{updateTime},</if>
		</trim>
	</insert>

	<select id="updateSubscribe" parameterType="org.toughradius.entity.Subscribe" useCache="false">
		update tr_subscribe
		<trim prefix="SET" suffixOverrides=",">
			<if test="nodeId != null  and nodeId != ''  ">node_id = #{nodeId},</if>
			<if test="realname != null  and realname != ''  ">realname = #{realname},</if>
			<if test="subscriber != null  and subscriber != ''  ">subscriber = #{subscriber},</if>
			<if test="password != null  and password != ''  ">password = #{password},</if>
			<if test="domain != null ">domain = #{domain},</if>
			<if test="addrPool != null">addr_pool = #{addrPool},</if>
			<if test="policy != null ">policy = #{policy},</if>
			<if test="activeNum != null ">active_num = #{activeNum},</if>
			<if test="bindMac != null ">bind_mac = #{bindMac},</if>
			<if test="bindVlan != null  ">bind_vlan = #{bindVlan},</if>
			<if test="ipAddr != null ">ip_addr = #{ipAddr},</if>
			<if test="macAddr != null ">mac_addr = #{macAddr},</if>
			<if test="inVlan != null ">in_vlan = #{inVlan},</if>
			<if test="outVlan != null ">out_vlan = #{outVlan},</if>
			<if test="upRate != null ">up_rate = #{upRate},</if>
			<if test="downRate != null ">down_rate = #{downRate},</if>
			<if test="upPeakRate != null ">up_peak_rate = #{upPeakRate},</if>
			<if test="downPeakRate != null ">down_peak_rate = #{downPeakRate},</if>
			<if test="upRateCode != null ">up_rate_code = #{upRateCode},</if>
			<if test="downRateCode != null ">down_rate_code = #{downRateCode},</if>
			<if test="status != null  and status != ''  ">status = #{status},</if>
			<if test="expireTime != null ">expire_time = #{expireTime},</if>
			<if test="updateTime != null ">update_time = #{updateTime},</if>
		</trim>
		where id = #{id}
	</select>

	<select id="updatePassword" useCache="false">
		update tr_subscribe set password =  #{password}, update_time = NOW() where id = #{id}
	</select>


</mapper>